@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Oswald:wght@400;700&family=Poppins:wght@400;600;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Poppins", Verdana, Tahoma;
  background-color: #191919;
}

@media screen and (max-width: 1920px) {
  header {
    background-color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }
  header #redes a {
    text-decoration: none;
  }
  header #redes a img {
    margin-left: 1rem;
    transition: 0.3s;
  }
  header #redes a img:hover {
    transform: scale(1.05);
  }
  header #menu a {
    padding: 0.5rem 2.5rem;
    margin: 0.2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.158);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(197, 30, 30, 0);
  }
  ::-webkit-scrollbar {
    width: 5px;
    background: rgba(241, 4, 4, 0);
  }
  ::-webkit-scrollbar-thumb {
    background: #440044;
    border-radius: 0px 0px 0px 50px;
  }
  .container {
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .container #sobre {
    line-height: 50px;
    color: white;
    margin: 1.5rem;
  }
  .container #sobre h2 {
    font-size: 35px;
  }
  .container #sobre h4 {
    font-size: 25px;
  }
  .container #sobre h3 {
    font-size: 25px;
  }
  .container #sobre .info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container #sobre .info img {
    filter: invert(1);
    margin-right: 0.5rem;
    height: 35px;
  }
  .container #foto img {
    width: 550px;
  }
  #gif {
    margin: auto;
    text-align: center;
  }
  #gif img {
    width: 125px;
  }
  #projetos {
    height: auto;
    margin: 1.5rem;
    text-align: center;
    color: white;
  }
  #projetos #cards {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  #projetos #cards #card a {
    text-decoration: none;
    color: white;
  }
  #projetos #cards #card a img {
    width: 650px;
  }
  #contato {
    margin: auto;
    color: white;
    text-align: center;
    height: 100vh;
    margin: auto;
    width: 500px;
    display: grid;
    place-items: center;
  }
  #contato #redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: auto;
  }
  #contato #redes a {
    text-decoration: none;
    color: white;
  }
  #contato #redes .rede {
    display: flex;
    flex-direction: row;
    height: 65px;
    align-items: center;
    justify-content: space-around;
    background-color: indigo;
    margin: 0.5rem 2.5rem;
    padding: 1rem;
    border-radius: 15px;
    transition: 0.3s;
  }
  #contato #redes .rede:hover {
    transform: scale(1.05);
  }
  #contato #redes .rede p {
    padding-right: 2.5rem;
  }
  #mb {
    display: inline;
  }
}
@media screen and (max-width: 1366px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: #292929;
  }
  header #redes a {
    text-decoration: none;
    padding: 0.5rem;
  }
  header #redes a img {
    transition: 0.5s;
  }
  header #redes a img:hover {
    transform: translateY(-5px);
  }
  header #menu a {
    padding: 0.5rem 2.5rem;
    margin: 0.2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.158);
    border-radius: 10px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: auto;
    color: white;
    width: 75%;
    padding: 2rem 0;
  }
  .container #foto img {
    width: 435px;
  }
  .container #sobre {
    line-height: 45px;
  }
  .container #sobre h2 {
    font-family: "Poppins", "Montserrat", Verdana, Tahoma;
    font-size: 30px;
  }
  .container #sobre h4 {
    font-size: 20px;
  }
  .container #sobre h3 {
    font-size: 25px;
  }
  #gif {
    margin: auto;
    text-align: center;
  }
  #gif img {
    width: 90px;
  }
  #projetos {
    height: auto;
  }
  #projetos h1 {
    color: white;
    text-align: center;
    margin: 0.5rem;
    padding-top: 2.5rem;
  }
  #projetos #cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  #projetos #cards #card a img {
    width: 455px;
    transition: 0.5s;
  }
  #projetos #cards #card a img:hover {
    transform: scale(1rem);
  }
  #projetos #cards a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", "Poppins", Verdana, Tahoma;
  }
  #conhecimento h1 {
    color: white;
    text-align: center;
    padding-top: 1.5rem;
  }
  #conhecimento #cards {
    height: 100vh;
  }
  #conhecimento #cards #icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #conhecimento #cards #icons img {
    margin: 2.2rem;
    width: 100px;
    transition: 0.3s;
  }
  #conhecimento #cards #icons img:hover {
    transform: scale(1.02);
  }
  #contato {
    display: grid;
    place-items: center;
    place-content: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    text-align: center;
  }
  #contato h1 {
    color: white;
  }
  #contato #redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  #contato #redes a {
    width: 100%;
  }
  #contato #redes a img {
    margin: 0.5rem;
    transition: 0.5s;
  }
  #contato #redes a img:hover {
    transform: scale(1.03);
  }
  #ft {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 414px) {
  header {
    padding: 1.5rem;
  }
  header #redes {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container #sobre {
    text-align: center;
    margin: auto;
    display: grid;
    place-items: center;
  }
  .container #sobre h2 {
    font-size: 20px;
  }
  .container #sobre h3 {
    font-size: 20px;
  }
  .container #sobre h4 {
    font-size: 15px;
  }
  .container #foto img {
    width: 300px;
  }
  #projetos {
    height: auto;
    margin: auto;
    width: 414.5px;
  }
  #projetos #cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  #projetos #cards #card {
    padding-top: 2rem;
  }
  #projetos #cards #card a img {
    width: 400px;
  }
  #contato {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 413px;
  }
  #contato #redes {
    width: 413px;
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #contato #redes a {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #contato p {
    padding: 0;
    margin: 0;
  }
  #contato h1 {
    font-size: 20px;
    margin-top: 5.5rem;
  }
}
@media screen and (max-width: 390px) {
  #contato {
    margin: auto;
    width: 389px;
    height: 100vh;
  }
  #contato #redes {
    width: 100%;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  #contato #redes .rede {
    margin-top: 1.5rem;
  }
  #contato #redes a {
    width: 100%;
    margin: 1rem 0.2rem;
  }
  #contato h1 {
    margin: 1.5rem;
  }
}/*# sourceMappingURL=index.css.map */