
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Oswald:wght@400;700&family=Poppins:wght@400;600;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$font: 'Montserrat', 'Poppins', Verdana, Tahoma;

body {
    font-family: $font;
    background-color: #191919;
}

@media screen and (max-width: 1920px) {
    header {
        background-color: #292929;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        #redes {
            a {
                text-decoration: none;
                img {
                    margin-left: 1rem;
                    transition: 0.3s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }

        #menu {
            a {
                padding: 0.5rem 2.5rem;
                margin: 0.2rem;
                font-weight: bold;
                text-decoration: none;
                color: white;
                border: 3px solid rgba(255, 255, 255, 0.158);
                border-radius: 10px;
            }
        }
    }

    .container {
        height: 85vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        user-select: none;
        #sobre {
            line-height: 50px;
            color: white;
            margin: 1.5rem;
            h2 {
                font-size: 35px;
            }
            h4 {
                font-size: 25px;
            }
            h3 {
                font-size: 25px;
            }

            .info {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    filter: invert(1);
                    margin-right: 0.5rem;
                    height: 35px;
                }
            }
        }

        #foto {
            img {
                width:550px
            }
        }
    }

    #gif {
        margin: auto;
        text-align: center;
        img {
            width: 125px;
        }
    }

    #projetos {
        height: auto;
        margin: 1.5rem;
        text-align: center;
        color: white;
        #cards {
            padding-top: 2.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            #card {
                a {
                    text-decoration: none;
                    color: white;
                    img {
                        width: 650px;
                    }
                }
            }
        }
    }

    #contato {
        margin: auto;
        color: white;
        text-align: center;
        height: 100vh;
        margin: auto;
        width: 500px;
        display: grid;
        place-items: center;
        
        #redes {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 500px;
            margin: auto;
            a {
                text-decoration: none;
                color: white;
            }
            .rede {
                display: flex;
                flex-direction: row;
                height: 65px;
                align-items: center;
                justify-content: space-around;
                background-color: indigo;
                margin: 0.5rem 2.5rem;
                padding: 1rem;
                border-radius: 15px;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.05)
                }
                p {
                    padding-right:2.5rem;
                }
            }
        }
    }

    #mb {
        display: inline;
    }
}

@media screen and (max-width: 1366px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        background-color: #292929;
    
        #redes {
            a {
                    text-decoration: none;
                    padding: 0.5rem;
                    img {
                        transition: 0.5s;
                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
        
        #menu {
            a {
                padding: 0.5rem 2.5rem;
                margin: 0.2rem;
                font-weight: bold;
                text-decoration: none;
                color: white;
                border: 3px solid rgba(255, 255, 255, 0.158);
                border-radius: 10px;
            }
        }
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        margin: auto;
        color: white;
        width: 75%;
        padding:2rem 0;
        #foto {
            img {
                width:435px;
            }
        }

        #sobre {
            line-height: 45px;
            h2 {
                font-family: 'Poppins', 'Montserrat', Verdana, Tahoma;
                font-size: 30px;
            }
            h4 {
                font-size: 20px;
            }
            h3 {
                font-size: 25px;
            }
        }
    }
    
    #gif {
        margin: auto;
        text-align: center;
        img {
            width: 90px;
        }
    }
    
    #projetos {
        h1 {
            color: white;
            text-align: center;
            margin: 0.5rem;
            padding-top: 2.5rem;
        }
    
        height: auto;
    
        #cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            text-align: center;
    
            #card {
                a {
                    img {
                        width: 455px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1rem);
                        }
                    }
                }
            }
    
            a {
                text-decoration: none;
                color: white;
                font-family: $font;
            }
        }
    }
    
    #conhecimento {
        h1 {
            color: white;
            text-align: center;
            padding-top: 1.5rem;
        }
        #cards {
            height: 100vh;
            #icons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                img {
                    margin: 2.2rem;
                    width: 100px;
                    transition: 0.3s;
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }
    }
    
    #contato {
        height: auto;
        text-align: center;
        h1 {
            color: white;
        }
        #redes {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            a {
                img {
                    margin: 1rem;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    header {
        padding: 1.5rem;
        #redes {
            display: none;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        #sobre {
            text-align: center;
            margin: auto;
            display: grid;
            place-items: center;
            h2 {
                font-size: 20px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 15px;
            }
        }
        #foto {
            img {
                width: 300px;
            }
        }
    }

    #projetos {
        height: auto;
        margin: auto;
        width: 414.5px;
        #cards {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            #card {
                padding-top: 2rem;
                a {
                    img {
                        width: 400px;
                    }
                }
            }
        }
    }

    #contato {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 413px;
        #redes {
            width: 413px;
            display: flex;
            width: 100%;
            margin: auto;
            flex-wrap: wrap;
            padding: 0;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            a {
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
        p {
            padding: 0;
            margin: 0;
        }
        h1 {
            font-size: 20px;
            margin-top: 5.5rem;
        }
    }
}

@media screen and (max-width: 390px) {
    #contato {
        margin: auto;
        width: 389px;
        height: 100vh;
        #redes {
            width: 100%;
            padding: 0;
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
            .rede {
                margin-top: 1.5rem;
            }
            a {
                width: 100%;
                margin: 1rem 0.2rem;
            }
        }
        h1 {
            margin: 1.5rem;
        }
    }
}